@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To ...</h1>
    <p>Task Create & Update & Read & Delete Products, Customers<br />Get Report for Product </p>

</div>
